.nav_register{
    border: 1.5px solid wheat;
    padding: 10px;
    color: wheat;
    transition: all 500ms ease-out;
    text-decoration: none;
}
.nav_login{
    border: 1.5px solid wheat;
    padding: 10px;
    color: wheat;
    transition: all 500ms ease-out;
    text-decoration: none;
}
.nav_block{
    display: flex;
    gap: 8px;
    flex-direction: row;
}
.nav_register:hover{
    color: black;
    background-color: wheat;
}
.nav_login:hover{
    color: black;
    background-color: wheat;
}