.user_info{
    color: wheat;
}
.user_info_block{
    display: flex;
    flex-direction: row;
}
.user_info_text{
    margin-right: 20px;
}
.user_button{
    border: 1.5px solid wheat;
    padding: 10px;
    color: wheat;
    margin-top: 5px;
    height: 39px;
    background-color: transparent;
    transition: all 500ms ease-out;
    cursor: pointer;

}
.user_button:hover{
    color: black;
    background-color: wheat;
}